*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/********** Header Main Footer **********/
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

footer{
    background-color: #00439C;
}
/********** /Header Main Footer **********/




/********** Contenuto Header **********/
.cont_img{
    width: 50px;
    padding: 10px 0;
    margin-right: 15px;
}

img{
    width: 100%;
}

.chevron{
    width: 10px;
    margin-left: 10px;
}

.lens{
    width: 35px;
}

.btn_primary{
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    border-radius: 20px;
}
/********** /Contenuto Header **********/








/********** Utility **********/
.white{
    color: #FFFFFF;
}

.py_100{
    padding: 100px 0;
}

.w-80{
    width: 80%;
}
/********** /Utility **********/














/********** Contenuto Main **********/



/********** /Sezione Rompi Cerchio**********/
.junbo{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
}

.returnal{
    width: 300px;
    padding-top: 200px;
}

.h_rompi{
    margin: 30px 0;
}

.rompi, .text_two{
    width: 28%;
    margin-bottom: 30px;
}

.btn_danger{
    background-color: #CD3D0F;
    border-color: #CD3D0F;
    border-radius: 25px;
    color: #FFFFFF;
}
/********** /Sezione Rompi Cerchio**********/



/********** Sezione PS 5 **********/
.gioco{
    border-radius: 20px;
}

.play_5{
    text-align: center;
    margin: 100px 0;
}

.text_up_h3{
    color: #0876D0;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.text_bottom_h3{
    color: #747474;
    font-weight: 600;
    font-size: 17px;
    margin: 20px 0 0 0;
}

.btn_secondary{
    color: #fff;
    background-color: #2D64E6;
    border-color: #2D64E6;
    border-radius: 20px;
    margin-top: 20px;
}

.cont_oggetti{
    width: 60%;
    opacity: 0.5;
    padding-bottom: 10px;
}

.cont_oggetti > p{
    text-align: center;
    font-weight: 600;
}
/********** /Sezione PS 5 **********/



/********** Sezione It Takes Two **********/
.two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.takes_two{
    width: 300px;
    padding: 50px 0;
}

.h1_two{
    width: 27%;
}
/********** /Sezione It Takes Two **********/



/********** Sezione Nuove Uscite **********/
.nuove{
    background-color: #1F1F1F;
}

.h3_uscite{
    color: #FFFFFF;
    padding-bottom: 20px;
}

.cont_uscite > p{
    color: #FFFFFF;
    margin-top: 10px;
    font-weight: 600;
    width: 92%;
}

.cont_uscite > img{
    border-radius: 20px;
}
/********** /Sezione Nuove Uscite **********/



/********** Sezione Plus **********/
.plus{
    background-color: #BEBCBB;
    background-image: url(./img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:top;
    background-size: contain;
}

.cont_plus{
    width: 300px;
    padding-bottom: 50px;
}

.text_plus{
    width: 42%;
}

.btn_plus{
    color: #2F65E6;
    background-color: #D9DADC;
    border-color: #D9DADC;
    border-radius: 20px;
    margin-top: 20px;
}
/********** /Sezione Plus **********/



/********** Sezione Sconti **********/
.cont_sconti{
    
}
/********** /Sezione Sconti **********/



/********** Sezione Media **********/
.h3_social{
    text-align: center;
    margin: 50px 0;
}

.cont{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social{
    width: 20%;
    margin-bottom: 100px;
}
/********** /Sezione Media **********/

/********** /Contenuto Main **********/








/********** Contenuto Footer **********/
.play_footer{
    width: 80px;
}

.country > img{
    width: 15px;
    margin-right: 10px;
}

.country{
    margin: 10px 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.lista_footer{
    list-style: none;
    padding-left: 0;
}

.lista_footer > li > a{
    text-decoration: none;
    color: #FFFFFF;
}

.sie{
    width: 120px;
}

.text_copy{
    width: 36%;
    color: #FFFFFF;
    margin-top: 10px;
}

.text_copy > a {
    color: #FFFFFF;
}
/********** /Contenuto Footer **********/








/********** Media Query **********/
@media screen and (max-width: 990px) {
    .plus{
        background-image: unset;
    }
}

@media screen and (max-width: 576px) {
    .rompi, .text_two, .h1_two, .text_plus{
        width: 100%;
    }

    .cont_oggetti > p{
        display: none;
    }

    .text-start > p{
        width: 100%!important;
    }
}

@media screen and (max-width: 570px) {
    .social{
        width: 49%;
        margin-bottom: 20px;
    }

    .container{
       max-width: 90%;
    }

    .rompi, .text_two, .h1_two{
        width: 100%;
    }

    .text_copy{
        width: 100%;
        font-size: 10px;
    }

    .cont{
        width: 100%;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 360px) {
    

}

@media screen and (min-width: 576px) {
    .rompi, .text_two, .h1_two{
        width: 80%;
    }

    .text_copy{
        width: 95%;
        font-size: 13px;
    }

    .cont{
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    .rompi, .text_two, .h1_two{
        width: 60%;
    }

    .cont{
        width: 90%;
    }

}

@media screen and (min-width: 992px) {
    .rompi, .text_two, .h1_two{
        width: 40%;
    }

    .text_copy{
        width: 43%;
        font-size: 10px;
    }

    .cont{
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .rompi, .text_two, .h1_two{
        width: 30%;
    }
}

@media screen and (min-width: 1400px) {
    .rompi, .text_two, .h1_two{
        width: 28%;
    }

    .text_copy{
        width: 40%;
        font-size: 15px;
    }
}