*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/********** Header Main Footer **********/
header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

main{

}
/********** /Header Main Footer **********/




/********** Contenuto Header **********/
.cont_img{
    width: 50px;
    padding: 10px 0;
    margin-right: 15px;
}

img{
    width: 100%;
}

.chevron{
    width: 10px;
    margin-left: 10px;
}

.lens{
    width: 35px;
}

.btn_primary{
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    border-radius: 20px;
}
/********** /Contenuto Header **********/








/********** Contenuto Main **********/



/********** /Sezione Rompi Cerchio**********/
.junbo{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    
}

.cont{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    padding-top: 150px;
}

.returnal{
    width: 300px;
    padding-top: 200px;
}

.white{
    color: #FFFFFF;
}

.py_100{
    padding: 100px 0;
}

.h_rompi{
    margin: 30px 0;
}

.rompi{
    width: 28%;
    margin-bottom: 30px;
}

.btn_danger{
    background-color: #CD3D0F;
    border-color: #CD3D0F;
    border-radius: 25px;
    color: #FFFFFF;
}
/********** /Sezione Rompi Cerchio**********/



/********** /Contenuto Main **********/








/********** Contenuto Footer **********/

/********** /Contenuto Footer **********/








/********** Media Query **********/

@media screen and (max-width: 576px) {
    .rompi{
        width: 100%;
    }
}