*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/********** Header Main Footer **********/
header{
    position: sticky;
    top: 0;
    left: 0;
}

footer{
    background-color: #00439C;
}
/********** /Header Main Footer **********/




/********** Contenuto Header **********/
.cont_img{
    width: 50px;
    padding: 10px 0;
    margin-right: 15px;
}

img{
    width: 100%;
}

.chevron{
    width: 10px;
    margin-left: 10px;
}

.lens{
    width: 35px;
}

.btn_primary{
    color: #fff;
    background-color: #363636;
    border-color: #363636;
    border-radius: 20px;
}
/********** /Contenuto Header **********/








/********** Contenuto Main **********/



/********** /Sezione Rompi Cerchio**********/
.junbo{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
}

.returnal{
    width: 300px;
    padding-top: 200px;
}

.white{
    color: #FFFFFF;
}

.py_100{
    padding: 100px 0;
}

.h_rompi{
    margin: 30px 0;
}

.rompi{
    width: 28%;
    margin-bottom: 30px;
}

.btn_danger{
    background-color: #CD3D0F;
    border-color: #CD3D0F;
    border-radius: 25px;
    color: #FFFFFF;
}
/********** /Sezione Rompi Cerchio**********/


/********** Sezione Media **********/
h3{
    text-align: center;
    margin: 50px 0;
}

.cont{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social{
    width: 22%;
    margin-bottom: 100px;
}
/********** /Sezione Media **********/

/********** /Contenuto Main **********/








/********** Contenuto Footer **********/
.play_footer{
    width: 80px;
}

.country > img{
    width: 15px;
    margin-right: 10px;
}

.country{
    margin: 10px 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.lista_footer{
    list-style: none;
    padding-left: 0;
}

.lista_footer > li > a{
    text-decoration: none;
    color: #FFFFFF;
}

.sie{
    width: 120px;
}

.text_copy{
    width: 36%;
    color: #FFFFFF;
    margin-top: 10px;
}

.text_copy > a {
    color: #FFFFFF;
}
/********** /Contenuto Footer **********/








/********** Media Query **********/

@media screen and (max-width: 576px) {
    .rompi{
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .social{
        width: 49%;
        margin-bottom: 20px;
    }

    .container{
       max-width: 90%;
    }

    .rompi{
        width: 100%;
    }

    .text_copy{
        width: 100%;
        font-size: 10px;
    }

    .cont{
        width: 100%;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 360px) {
    

}

@media screen and (min-width: 576px) {
    .rompi{
        width: 80%;
    }

    .text_copy{
        width: 95%;
        font-size: 13px;
    }

    .cont{
        width: 95%;
    }
}

@media screen and (min-width: 768px) {
    .rompi{
        width: 60%;
    }

    .cont{
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .rompi{
        width: 40%;
    }

    .text_copy{
        width: 43%;
        font-size: 10px;
    }

    .cont{
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .rompi{
        width: 30%;
    }
}

@media screen and (min-width: 1400px) {
    .rompi{
        width: 28%;
    }

    .text_copy{
        width: 40%;
        font-size: 15px;
    }
}